<h3 style="text-align: center;">IT-Professionals by Muhammad Yousaf</h3>
<br>
<br>

<br>

<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-1"><h2>Users <b></b></h2></div>
                    <div class="col-sm-7"><Button data-toggle="modal" data-target="#Modal_add" class="btn btn-primary">Add</Button></div>
                    <div class="col-sm-4">
                        <div class="search-box">

                            <input #searchInput (keyup)="search(searchInput.value)" type="text" class="form-control" placeholder="Search&hellip;">
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name <i class="fa fa-sort"></i></th>
                        <th>Mobile</th>
                       <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of Allusers">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name  }}</td>
                        <td>{{ user.mobile }}</td> 

                        <td>
                            <a href="#" class="text-warning"  data-toggle="tooltip" data-toggle="modal" (click)="updateModelShow(user.id)" data-target="#Modal_update">Update</a>
                            <a href="#" class="text-danger"  data-toggle="tooltip" (click)="delete(user.id)">Delete</a>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>


<!-- Modal-Add -->
<div class="modal fade" id="Modal_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">Name</div>
          <div class="col-md-6">Mobile</div>
        </div>
        <div class="row">
          <div class="col-md-6"><input id="addInputName" class="form-control"></div>
          <div class="col-md-6"><input id="addInputMobile" class="form-control"></div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="add()" type="button" class="btn btn-primary">Add new user</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal-Update -->
<div class="modal fade" id="Modal_update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">Name</div>
          <div class="col-md-6">Mobile</div>
        </div>
        <div class="row">
          <div class="col-md-6"><input id="updateInputName" class="form-control"></div>
          <div class="col-md-6"><input id="updateInputMobile" class="form-control"></div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="update()">Save changes</button>
      </div>
    </div>
  </div>
</div>

